{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="account">
  <header>
    <h1>My Account</h1>
  </header>
  <div class="account-container">
    <div class="profile-section">
      <h2>Profile Information</h2>
      <!-- Display user profile information here -->
      {% for user in info %}
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <!--<p>Phone: {{ user.phone }}</p>-->
        <p>Social Media: {{ user.socials }}</p>
        <p>Items Uploaded: {{ user.uploads }}</p>
      {% endfor %}
      <a href = '/changeinformation'><button class="edit-profile-button">Edit Profile</button></a>
    </div>
    <a href='/changepassword'><button class="account-button">Change Password</button></a>
    <!--<button class="account-button secondary">Button 2</button>-->
  </div>
</div>
{% endblock %}