{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="body">
  <header class="home-title">
    <h1>Note Source</h1>
    <p>Your Source for Educational Materials</p>
  </header>
  <div class="about-container">
    <div class="about">
      <h2>About Note Source</h2>
      <p>Note Source is your platform for accessing educational materials. Whether you're a student looking for study guides or an expert sharing your knowledge, Note Source has you covered.</p>
      <p>Our mission is to promote collaborative learning and empower students with the right resources.</p>
    </div>
    <div class="features">
      <h2>Key Features</h2>
      <ul class="feature-list">
        <li><p>Access a library of course notes and study guides.</p></li>
        <li><p>High-quality educational materials.</p></li>
        <li><p>Contribute your own notes and help fellow students.</p></li>
        <li><p>Intuitive and user-friendly platform.</p></li>
      </ul>
    </div>
  </div>
  <!--<div class="cta">
    <a href="#" class="cta-button">Get Started</a>
  </div>
  <footer>
    &copy; 2023 Nexus Notes
  </footer>-->
</div>
</html>
{% endblock %}