{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <body class="homepage-body">
        <div class="hero-container">
            <div class="hero">
                <h1>Welcome to Note Source</h1>
                <p>Unlock Knowledge, Share Success: Your Source for Educational Materials</p>
            </div>
        </div>
        <div class="features-final">
            <div class="feature-final">
                <!--<h2>About Note Source</h2>-->
                <p>Recycling is an inegral part of our world. Educational materials aren't being utilised in full. Note Source was created to utilise the unutilised educational materials. </p>
                <!--<p>Note Source is your platform for accessing educational materials. Whether you're a student looking for study guides or an expert sharing your knowledge, Note Source has you covered.</p>
                <p>Our mission is to promote collaborative learning and empower students with the right resources.</p>-->
                <!--<img src="feature-1-icon.png" alt="Feature 1">-->
                <!--h2>Feature 1</h2>
                <p>Description of feature 1. Provide valuable information to your visitors.</p>
            </div>
            <div class="feature-final">
                <img src="feature-2-icon.png" alt="Feature 2">
                <h2>Feature 2</h2>
                <p>Description of feature 2. Highlight your unique selling points.</p>
            </div>
            <div class="feature-final">
                <img src="feature-3-icon.png" alt="Feature 3">
                <h2>Feature 3</h2>
                <p>Description of feature 3. Showcase your expertise and offerings.</p>
            </div>-->
        </div>
    </body>
{% endblock %}
