{% extends "layout.html" %}

{% block title %}
    Item Information 
{% endblock %}

{% block main %}
    <h3 class="title"> Item Information </h3>
    <hr>
    <body class = "items-body">
        <div class="items-container-info">
            <div class="products-container-info">
                    {% if session["user_id"] %}
                        {% for img in list %}
                            <div class="product-info" data-name="p-1">
                                <img src="data:;base64,{{ img.image }}">
                                <div class="details" data-name="p-1">
                                    <b><p>Item Details:</p></b>
                                    <p>Price: ฿{{ img.price }}</p>
                                    <p>Book Title: {{ img.book_title }}</p>
                                    <p>Book Subject: {{ img.book_subject }}</p>
                                    <p>Book Syllabus: {{ img.book_syllabus }}</p>
                                    <p>Book Description: {{ img.book_description }}</p>
                                    <hr>
                                    <b><p>Seller's Contacts:</p></b>
                                    <p>Seller's Name: {{ img.username }}</p>
                                    <p>Seller's Email: {{ img.email }}</p>
                                    <!--<p>Seller's Phone Number: {{ img.phone }}</p>-->
                                    <p>Seller's Social Media: {{ img.socials }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for img in list %}
                            <div class="product-info" data-name="p-1">
                                <img src="data:;base64,{{ img.image }}">
                                <div class="details" data-name="p-1">
                                    <p>Price: {{ img.price }}</p>
                                    <p>Book Title: {{ img.book_title }}</p>
                                    <p>Book Subject: {{ img.book_subject }}</p>
                                    <p>Book Syllabus: {{ img.book_syllabus }}</p>
                                    <p>Book Description: {{ img.book_description }}</p>
                                    <hr>
                                    <p>Seller's Contacts:</p>
                                    To view seller's contact details, please <a href="/login">Login</a>
                                </div>
                            </div>
                        {% endfor %}
                        
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </body>
{% endblock %}
