{% extends "layout.html" %}

{% block title %}
    Upload 
{% endblock %}

{% block main %}
<form action="/upload" enctype="multipart/form-data" method="POST"> 
    <body class="items-body">
        <div class="upload-form">
        <h2>Upload an Item</h2>
            <div class="form">
                <div class="image">
                    <input type="file" name="pic">
                </div>
                <div class="details">
                    <p><b>Price: </b></p>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="price" name="price" placeholder="Price" type="number" required min="0" value="{{ price }}">
                    <p><b>Book Title: </b></p>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book_title" name="book_title" placeholder="Title of Notes/Book " type="text" required value="{{ title }}" maxlength="40">
                    <p><b>Book Subject: </b></p>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book_subject" name="book_subject" placeholder="Subject of Notes/Book" type="text" required value="{{ subject }}" maxlength="50"> 
                </div>
                <div class="description">
                    <p><b>Book Description: </b></p>
                    <textarea autocomplete="off" class="form-control mx-auto w-auto" id="book_description" name="book_description" placeholder="Note/Book Description" type="text" required maxlength="350" cols="215" rows="4">{{ description }}</textarea>
                    <!--<input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book_description" name="book_description" placeholder="Note/Book Description" type="text" required value="{{ description }}" maxlength="300">-->
                </div>
                <div class="details">
                    <p><b>Book Syllabus: </b></p>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book_syllabus" name="book_syllabus" placeholder="Note/Book Syllabus" type="text" required value="{{ syllabus }}" maxlength="50">
                </div>
                <!--<input class="form-control mx-auto w-auto" id="submit" type="hidden" name="submit" placeholder="Submit">-->
                
                <button class="btn btn-primary" type="submit">Submit</button>  
            </div>
        </div>
    </body>
</form>
{% endblock %}
