{% extends "layout.html" %}

{% block title %}
    Change Information
{% endblock %}

{% block main %}
    
    <form action="/changeinformation" method="post">
        {% for user in list %}
            <div class="info">
                <div class="change-info">
                    <p>
                        <b>Old Password:</b>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="oldpassword" placeholder="Old Password" type="password" required>
                        <br><b>New Username:</b>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" autocapitalize="none" autocorrect="off" placeholder="New Username" type="text" value="{{ user.username }}" required>
                        <br><b>New Email:</b>
                        <input type="email" autocomplete="off" autocapitalize="none" autocorrect="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="New Email" required value="{{ user.email }}"> 
                        <!--<br><b>New Phone Number:</b>
                        <input autocomplete="off" autocapitalize="none" autocorrect="off" autofocus class="form-control mx-auto w-auto" id="phone" name="phone" placeholder="New Phone Number" type="number" required min="0" value="{{ user.phone }}">-->
                        <br><b>New Social Media Tag (type none if you don't have any):</b>
                        <input autocomplete="off" autocapitalize="none" autocorrect="off" autofocus class="form-control mx-auto w-auto" id="socials" name="socials" placeholder="New Social Media Tag (type none if you don't have any)" type="text" value="{{ user.socials }}" required>
                    </p>
                    <hr>
                    <button class="btn btn-primary" type="submit">Change</button>
                </div>
            </div>
        {% endfor %}
    </form>

{% endblock %}