{% extends "layout.html" %}

{% block title %}
    Edit Information 
{% endblock %}

{% block main %}
<form action="/edit_post" enctype="multipart/form-data" method="POST"> 
    <body class="items-body">
        <h2>Edit information for your product</h2>
        <div class="edit-container">
            {% for user in list %}
                <div class="image">
                    <img src="data:;base64,{{ user.image }}" >
                </div>
                <div class="edit">
                    <div class="details">
                        <input name="editid" type="hidden" value="{{ get_id }}">
                        <br>
                        <b>Price: </b>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="price" name="price" placeholder="Price" type="number" required min="0" value="{{ user.price }}">
                        <b>Book Title: </b>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book_title" name="book_title" placeholder="Title of Notes/Book " type="text" required value="{{ user.book_title }}" maxlength="25">
                        <b>Book Subject: </b>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book_subject" name="book_subject" placeholder="Subject of Notes/Book" type="text" required value="{{ user.book_subject }}"> 
                    </div>
                    <div class="description">
                        <b>Book Description: </b>
                        <textarea autocomplete="off" class="form-control mx-auto w-auto" id="book_description" name="book_description" placeholder="Note/Book Description" type="text" required maxlength="300" cols="93" rows="4">{{ user.book_description }}</textarea>
                        <!--<input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book_description" name="book_description" placeholder="Note/Book Description" type="text" required value="{{ user.book_description }}">-->
                    </div>
                    <div class="details">
                        <b>Book Syllabus: </b>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book_syllabus" name="book_syllabus" placeholder="Note/Book Syllabus" type="text" required value="{{ user.book_syllabus }}">
                    </div>
                        <!--<input class="form-control mx-auto w-auto" id="submit" type="hidden" name="submit" placeholder="Submit">-->
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</form>
{% endblock %}
