{% extends "layout.html" %}

{% block title %}
    My Items
{% endblock %}

{% block main %}
    <h3 class="title"> My Items </h3>
    <hr>
    <!--<script>
        function myFunction() {
            confirm("Are you sure you want to remove this item?");
            if (confirm(text) == true) {
                return value = 2
            } else {
                return value = 1
            }
        }
    </script>-->
    <ul>
        {% if image_list|length == 0 %}
            <p>Add some Images to the Gallery</p>
        {% else %}
        <body class = "items-body">
            <div class="items-container">
                <div class="products-container">
                    {% for img in list %}
                        <div class="items-product-myitems" data-name="p-1">
                            <img src="data:;base64,{{ img.image }}" >
							<p><b>Book Title:</b> {{ img.book_title }} <br></p>
                            <!--<b>Book Subject:</b> {{ img.book_subject }}</p>-->
                            <!--<p>{{ img.id }}</p>-->
                            <form action="/items" method="post">
                                <input name="delete_id" type="hidden" value="{{ img.id }}">
                                <button class="delete" id="{{ img.id }}" onclick="return confirm('Are you sure you want to remove this item?')" type="submit">Remove Item</button>  
                            </form>
                            <form action="/edit" method="post">
                                <input name="edit_id" type="hidden" value="{{ img.id }}">
                                <button class="edit" id="{{ img.id }}" type="submit">Edit Information</button>  
                            </form> 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </body>
        {% endif %}

{% endblock %}